{% extends 'layout.html' %}
{% block title %}语法练习{% endblock %}
{% block body %}

<div class="row" >
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
        <div class="card">
            <div class="card-header">联系方式</div>
            <div class="card-body">
                <p>联系电话：15201360398</p>
                <br/>
                <p>电子邮件：5icoding@sina.cn</p>
                <br/>
            </div>
          </div>

    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}