{% extends 'layout.html' %}
{% block title %}语法练习{% endblock %}
{% block body %}

<div class="row" >
    <div class="col-md-2">
        
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    <button type="button" id=run class="btn btn-success" style="margin-bottom:15px">
        <h5>Run</h5>
    </button>
    <button type="button" id=clear class="btn btn-success" style="margin-bottom:15px">
        <h5>Clear</h5>
    </button>
</div>

<div class="row" >
    <div class="col-md-2">
        <h4 class="bg-white">python语法知识</h4>
        <ul class="list-group">
            <li class="list-group-item">数据结构</li>
            <li class="list-group-item text-center" onclick="javascript:alert('id')">列表</li>
            <li class="list-group-item text-center">集合</li>
            <li class="list-group-item">控制语句</li>
            <li class="list-group-item text-center">条件控制</li>
            <li class="list-group-item text-center">for 循环</li>
            <li class="list-group-item text-center">while 循环</li>
            <li class="list-group-item">函数</li>
            <li class="list-group-item">面向对象</li>
            <li class="list-group-item text-center">类</li>
            <li class="list-group-item text-center">方法</li>
        </ul>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header">
                <h4></h4>内容说明:
            </div>
            <div class="card-body " style="height:455px">
                <div id="content">
<pre>
<code class="language-js  line-numbers">print('hello')
age = 35
print()
if age < 0:  
    print("This can hardly be true!") 
elif age == 1:  
    print("about 14 human years") 
elif age == 2:  
    print("about 22 human years") 
elif age > 2:
    human = 22 + (age -2)*5
    print("Human years: ", human)
</code>
</pre>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4" style="background-color: #dedef8;
        box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
         <section class="input">
             <ul class="nav nav-tabs">
                 <li class="nav-item">
                     <a class="nav-link active" aria-current="page" style="border:1px solid blue">
                         <h4>编辑窗口</h4>
                     </a>
                 </li>
             </ul>
             <div><textarea id="code" name="code">
             </textarea>
             </div>
         </section>
    </div>
    <div class="col-md-4" style="background-color: #dedef8;
    box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
        <section class="output">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" style="border:1px solid blue">
                        <h4 >输出窗口</h4>
                    </a>
                </li>
            </ul>
            <div>
                <textarea id="output" name="output" class="w-100" rows="18">
                </textarea>
            </div>
        </section>
     </div>
 </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/codemirror.min.js"
integrity="sha512-XMlgZzPyVXf1I/wbGnofk1Hfdx+zAWyZjh6c21yGo/k1zNC4Ve6xcQnTDTCHrjFGsOrVicJsBURLYktVEu/8vQ=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.63.3/mode/python/python.min.js"
integrity="sha512-/mavDpedrvPG/0Grj2Ughxte/fsm42ZmZWWpHz1jCbzd5ECv8CB7PomGtw0NAnhHmE/lkDFkRMupjoohbKNA1Q=="
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script>
const editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	mode: {
		name: "python",
		version: 3,
		singleLineStringErrors: false
	},
	lineNumbers: true,
	indentUnit: 4,
	matchBrackets: true
});
editor.setSize('auto',436);
editor.setValue(`print("hello python!")`);

$(document).ready(function() {
    $("#run").click(function() {
        var code = editor.getValue();
        $.ajax({
            type: "POST",
            url: "/exec",
            data: { code: code},
            success: function(output) {
            $("#output").html(output);
            }
        });
    });
    $("#clear").click(function() {
        $("#output").html('');
    });
});
</script>
{% endblock %}