<!doctype html>
<title>{% block title %}{% endblock %} - Pyschool</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav>
  <h1><a href="{{ url_for('index') }}">Pyschool</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      
      <li><a href="{{ url_for('cubicle.code') }}">编程学习</a>
      <li><a href="{{ url_for('cubicle.read') }}">代码阅读</a>
      <li><a href="{{ url_for('cubicle.test') }}">单元测试</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="https://github.com/5icoding/howtocoding">如何持续编程</a>
      <li><a href="https://github.com/5icoding/algorithm">github算法课程</a>
      <li><a href="{{ url_for('static', filename='JavascriptVisual/Algorithms.html') }}">算法可视化</a>
      <li><a href="{{ url_for('static', filename='BinaryTreeVisualiser/home.html') }}">二进制树可视化器</a>
      <li><a href="{{ url_for('cubicle.index') }}">编辑器</a>
      <li><a href="http://101.35.52.81:3000/index.html">协作编程</a></li>
      <li><a href="{{ url_for('auth.register') }}">注册</a>
      <li><a href="{{ url_for('auth.login') }}">登录</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
